<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>

<div class="container-fluid" style="background-color:#F2F2F2">

    <!--панель навигации-->
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-dark bg-dark navbar-fixed-top" style="margin-left: -15px; margin-right: -15px">
            <span class="navbar-text" style="color: white; margin-top: -5px">
                Text
            </span>
                <a class="link" href="/logout" style="color: grey; margin-top: -5px">Logout</a>
            </nav>
        </div>
    </div>

    <div class="row mt-3">

        <!--левая панель-->
        <div class="col-2" style="background-color:#FFFFFF">
            <nav class="nav flex-column">
                <ul class="nav nav-pills navbar-nav" style="margin-left:-15px; margin-right:-15px">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">User</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!--правая панель-->
        <div class="col-10" style="height: 92vh">
            <div class="container-fluid">
                <div class="row pl-3">
                    <div class="col-12">
                        <h1>User information-page</h1>
                    </div>
                </div>

                <!--заголовок таблицы, фон и обводка-->
                <div class="table">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="border border">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-12" style="background-color: #F2F2F2">
                                                <h3>About user</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12" style="background-color:#FFFFFF">

                                                <!--таблица-->
                                                <div class="row mt-3">
                                                    <div class="col-12">
                                                        <table class="table table-striped">

                                                            <thead>
                                                            <tr>
                                                                <th scope="col">ID</th>
                                                                <th scope="col">First Name</th>
                                                                <th scope="col">Last Name</th>
                                                                <th scope="col">Age</th>
                                                                <th scope="col">Email</th>
                                                                <th scope="col">Role</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody>
                                                            <tr>
                                                                <th scope="row">1</th>
                                                                <td>Mark</td>
                                                                <td>Otto</td>
                                                                <td>20</td>
                                                                <td>@mdo</td>
                                                                <td>1</td>
                                                            </tr>
                                                            </tbody>

                                                        </table>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>